<section class="feature-view">
    <h2 class="hidden">Product Features</h2>
    <div class="feature-photo">{{ FeatureImg }}</div>
    <div class="feature-text">{{ FeatureText }}</div>
    {{!-- <h2>Your name is {{ Name }}.</h2>
    <h3>You are a {{ JobTitle }}.</h3> --}}
</section>
<section class="feature-view">
    <h2 class="hidden">Product Features</h2>
    <div class="feature-photo">{{ FeatureImg }}</div>
    <div class="feature-text">{{ FeatureText }}</div>
</section>